
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background: url("../images/header_bk.png") repeat-x scroll 0 0 transparent;
      height: 112px;
}
a:link,
a:visited,
a:active {
  color: #339933;
}
a:hover,
a:focus {
  color: #990066;
  text-decoration: underline;
}
.sidebar .block {
/*  border: none; */
}
#page-wrapper,
#footer-wrapper {
  background: none;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #339933;
}
